<section class="books">
  <div class="container books__container">
    <h2 class="section-title section-title_minus">Книги</h2>
    <ul class="books__list list-reset">
      <li class="books__item book">
        <a href="#" class="book__link">
          <div class="book__wrapper">
            <img src="img/books/book1.jpg" alt="" class="book__img">
          </div>
          <h3 class="book__title">Рисую кружевом мечту</h3>
          <div class="book__footer">
            <span class="book__desc">Книга №</span>
            <span class="book__price">5400₽</span>
          </div>
        </a>
      </li>

      <li class="books__item book">
        <a href="#" class="book__link">
          <div class="book__wrapper">
            <img src="img/books/book2.jpg" alt="" class="book__img">
          </div>
          <h3 class="book__title">Рисую кружевом мечту</h3>
          <div class="book__footer">
            <span class="book__desc">Книга №</span>
            <span class="book__price">4950₽</span>
          </div>
        </a>
      </li>

      <li class="books__item book">
        <a href="#" class="book__link">
          <div class="book__wrapper">
            <img src="img/books/book1.jpg" alt="" class="book__img">
          </div>
          <h3 class="book__title">Рисую кружевом мечту</h3>
          <div class="book__footer">
            <span class="book__desc">Книга №</span>
            <span class="book__price">5400₽</span>
          </div>
        </a>
      </li>

      <li class="books__item book">
        <a href="#" class="book__link">
          <div class="book__wrapper">
            <img src="img/books/book2.jpg" alt="" class="book__img">
          </div>
          <h3 class="book__title">Рисую кружевом мечту</h3>
          <div class="book__footer">
            <span class="book__desc">Книга №</span>
            <span class="book__price">4950₽</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
