<section class="card-main">
  <div class="container">
   <div class="card-grid grid">
    <div class="grid__item">
      <h3 class="grid__item-title">Модель связана крючком, в технике арт-кружева</h3>
      <p class="grid__item-text">В изделии использовано более 40 клубков разной по толщине и оттенкам пряжи. Работа выполнялась тонкими крючками: 0,5; 0,6; 0,75. Вес пончо - 500 гр</p>
    </div>
    <div class="grid__item grid__item--width2">
      <div class="grid__item-wrapper">
        <img src="img/products/poncho/images/img4.jpg" alt="">
      </div>
    </div>
    <div class="grid__item">
      <div class="grid__item-wrapper">
        <img src="img/products/poncho/images/img1.jpg" alt="">
      </div>
    </div>
    <div class="grid__item grid__item--width2">
      <div class="grid__item-wrapper">
        <img src="img/products/poncho/images/img2.jpg" alt="">
      </div>
    </div>
    <div class="grid__item">
      <h3 class="grid__item-title">Я применила технику вязания мотивов на плоскости - тунисским вязанием или "сеточкой-путанкой"</h3>
      <p class="grid__item-text">Именно она даёт мне возможность «писать» картины крючком. В соединении с техникой «ирландское кружево», получается очень изысканно и натурально. Картина задумывалась в мягких пастельных тонах - преимущественно холодных, с небольшим добавлением ярких цветовых пятен.</p>
    </div>
    <div class="grid__item grid__item--width2">
      <h3 class="grid__item-title">Модель подойдёт любой даме</h3>
      <p class="grid__item-text">Она и прикрывает недостатки, и, в силу  прозрачности полотна, оставляет возможность для демонстрации женской красоты. Модель в призвана  прикрывать все несовершенства фигуры, отвлечь  от них внимание красотой ручного кружева. И это вовсе не означает, что девушки и женщины с идеальными параметрами не будут ее использовать в своем гардеробе. Отнюдь!</p>
    </div>
    <div class="grid__item">
      <div class="grid__item-wrapper">
        <img src="img/products/poncho/images/img3.jpg" alt="">
      </div>
    </div>
   </div>
  </div>
</section>
