<section class="card-hero">
  <div class="container card-hero__container">
    <div class="card-slider">
      <div class="card-slider__nav">
        <button class="card-slider__nav-btn btn-reset">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-up" />
          </svg>
        </button>
        <ul class="list-reset">
          <li class="card-slider__nav-slide">
            <img src="img/products/poncho/image4.jpg" alt="" />
          </li>
          <li class="card-slider_nav-slide">
            <img src="img/products/poncho/image5.jpg" alt="" />
          </li>
        </ul>
        <button class="card-slider__nav-btn btn-reset">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-down" />
          </svg>
        </button>
      </div>
      <ul class="card-slider__card-wrapper list-reset">
        <li class="card-slide">
          <img src="img/products/poncho/image2.jpg" alt="" />
        </li>
        <li class="card-slide">
          <img src="img/products/poncho/image2.jpg" alt="" />
        </li>
      </ul>
    </div>
    <div class="card-hero__info">
      <div class="card-hero__info-header">
        <h2 class="card-title">Пончо «Зимний&nbsp;сад»</h2>

        <span class="card-subtitle">Дата создания: 21/08/2021</span>
      </div>

      <p class="card-hero__info-desc">
        Модель невозможно купить, т.к. она представлена в ознакомительных целях.
      </p>
      <div class="card-hero__info-footer">
        <span class="card-hero__info-text">Книги по модели:</span>
        <div class="card-hero__info-item">
          <span>Книга «Зимний сад»</span>
          <img src="img/products/poncho/image2.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
