<section class="discounts-book discounts">
  <div class="container discounts__container">
    <ul class="discounts__list list-reset">
      <li class="discounts__item">
        <a class="discounts__link" href="#">
          <div class="discounts__wrapper">
            <img src="img/books/book1.jpg" alt="">
            <img src="img/books/book2.jpg" alt="">
          </div>
          <h3 class="discounts__item-title">Скидка 5%</h3>
          <p class="discounts__item-desc">При покупке 2-х книг</p>
        </a>
      </li>
      <li class="discounts__item">
        <a class="discounts__link" href="#">
          <div class="discounts__wrapper">
            <img src="img/books/book1.jpg" alt="">
            <img src="img/books/book2.jpg" alt="">
            <img src="img/books/book1.jpg" alt="">
          </div>
          <h3 class="discounts__item-title">Скидка 10%</h3>
          <p class="discounts__item-desc">При покупке 3-х книг</p>
        </a>
      </li>
      <li class="discounts__item">
        <a class="discounts__link" href="#">
          <div class="discounts__wrapper">
            <img src="img/books/book1.jpg" alt="">
            <img src="img/books/book2.jpg" alt="">
            <img src="img/books/book1.jpg" alt="">
            <img src="img/books/book2.jpg" alt="">
          </div>
          <h3 class="discounts__item-title">Скидка 15%</h3>
          <p class="discounts__item-desc">При покупке 4-х книг</p>
        </a>
      </li>
    </ul>
    <p class="discounts__info">
      Все последущие покупки скидка 15%
    </p>
  </div>
</section>
