<footer class="footer">
  <div class="container footer__container">
    <div class="footer__top">
      <a href="#" class="footer__logo logo logo_big">
        <img src="img/logo.svg" alt="Createx Logo">
      </a>
      <ul class="social footer__social list-reset">
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="WhatsApp">
            <svg>
              <use xlink:href="img/sprite.svg#whats"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Messenger">
            <svg>
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Youtube">
            <svg>
              <use xlink:href="img/sprite.svg#inst"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <nav class="footer-nav footer__nav" >
      <div class="footer-nav__col">
        <h3 class="footer-nav__title footer-title">Модели</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Техника ирландского кружева</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Малые формы (мотивы) ирландских кружев</a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__col">
        <h3 class="footer-nav__title footer-title">Мастер-классы</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item">
            <a href="" class="footer-nav__link">На модели</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">На мотивы</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Бесплатные</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Для начинающих</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">На английском языке (English)</a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__col">
        <h3 class="footer-nav__title footer-title">Книги</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link"></a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__col">
        <h3 class="footer-nav__title footer-title">Школа</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link"></a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__col">
        <h3 class="footer-nav__title footer-title">Новости</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link"></a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__col">
        <h3 class="footer-nav__title footer-title">Покупателям</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Личный кабинет</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Корзина</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Избранное</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="contacts">
      <h3 class="contacts__title">Контакты</h3>
      <div class="contacts__info">
        <span class="contacts__info-name">Телефон</span>
        <a href="tel:79994445522" class="contacts__info-type">+ 7 967 48 46 620</a>
      </div>
      <div class="contacts__info">
        <span class="contacts__info-name">Email</span>
        <a href="mailto:administrator@asiaverten.com" class="contacts__info-type">administrator@asiaverten.com</a>
      </div>
      <button class="contacts__btn btn-reset">Связаться с нами</button>
    </div>

    <div class="language language_footer">
      <ul class="language__list list-reset">
        <li class="language__item" >
          <button class="btn-reset language__btn language__btn_active" data-lang="ru" type="button">
            <span>RU</span>
            <img src="img/ru.png" alt="">
          </button>
        </li>
        <li class="language__item" >
          <button class="btn-reset language__btn" data-lang="en" type="button">
            <img src="img/usa.png" alt="">
            <span>EN</span>
          </button>
        </li>
      </ul>
      <button class="language__btn btn-reset" type="button">

      </button>
    </div>

    <small class="footer__copyright">
      &copy;&nbsp;Все права защищены!
      <span>Сделано для <a href="https://www.instagram.com/asiaverten62" target="_blank">Asia Verten</a></span>
    </small>


  </div>
</footer>
