<header class="header">
  <div class="container header__container">
    <a href="/" class="logo logo_mobile">
      <img src="img/logo.svg" alt="Asia Verten логотип">
    </a>
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link">Модели</a>
        </li>
        <li class="nav__item">
          <a href="/catalog.html" class="nav__link">Мастер-классы</a>
        </li>
        <li class="nav__item">
          <a href="/books.html" class="nav__link">Книги</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Школа</a>
        </li>
        <li class="nav__item nav__item_logo">
          <a href="/" class="nav__link logo">
            <img src="img/logo.svg" alt="Asia Verten логотип">
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Новости</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Контакты</a>
        </li>
        <li class="nav__item nav__item--clients clients">
          <a href="#" class="nav__link">Покупателям</a>
          <ul class="clients__list is-hidden list-reset">
            <li class="clients__item"></li>
          </ul>
        </li>
      </ul>
    </nav>
    <form class="header__form-search form-search">
      <label class="label form-search__label">
        <input type="text" class="label__input">
      </label>
      <button class="form-search__btn btn-reset" type="button" aria-label="Поиск по сайту"></button>
    </form>
    <button class="nav-burger btn-reset" type="button" aria-label="Кнопка меню">
      <span></span>
    </button>
  </div>

  <div class="language">
    <ul class="language__list list-reset">
      <li class="language__item" >
        <button class="btn-reset language__btn language__btn_active" data-lang="ru" type="button">
          <span>RU</span>
          <img src="img/ru.png" alt="">
        </button>
      </li>
      <li class="language__item" >
        <button class="btn-reset language__btn" data-lang="en" type="button">
          <img src="img/usa.png" alt="">
          <span>EN</span>
        </button>
      </li>
    </ul>
    <button class="language__btn btn-reset" type="button">

    </button>
  </div>
</header>
