<section class="mc-block">
  <div class="container">
    <h2 class="section-title section-title_minus">Мастер-классы</h2>

    <ul class="mc-block__list list-reset">
      <li class="mc-block__item">
        <div class="mc-block__item-wrapper">
          <img class="mc-block__item-img" src="img/fromAsia.png" alt="">
        </div>
      </li>
      <li class="mc-block__item">
        <a href="#" class="mc-block__link">
          <div class="mc-block__item-wrapper">
            <img class="mc-block__item-img" src="" alt="мастер-классы на модели">
          </div>
          <h3 class="mc-block__item-title">Комплекты мастер-классов на модели</h3>
        </a>
      </li>
      <li class="mc-block__item">
        <a href="#" class="mc-block__link">
          <div class="mc-block__item-wrapper">
            <img class="mc-block__item-img" src="" alt="мастер-классы на мотивы">
          </div>
          <h3 class="mc-block__item-title">На мотивы</h3>
        </a>
      </li>
      <li class="mc-block__item">
        <a href="#" class="mc-block__link">
          <div class="mc-block__item-wrapper">
            <img class="mc-block__item-img" src="" alt="Бесплатные мастер-классы">
          </div>
          <h3 class="mc-block__item-title">Бесплатные мастер-классы</h3>
        </a>
      </li>
      <li class="mc-block__item">
        <a href="#" class="mc-block__link">
          <div class="mc-block__item-wrapper">
            <img class="mc-block__item-img" src="" alt="мастер-классы Для начинающих">
          </div>
          <h3 class="mc-block__item-title">Для начинающих</h3>
        </a>
      </li>
      <li class="mc-block__item">
        <a href="#" class="mc-block__link">
          <div class="mc-block__item-wrapper">
            <img class="mc-block__item-img" src="" alt="На английском языке">
          </div>
          <h3 class="mc-block__item-title">На английском языке (English)</h3>
        </a>
      </li>
    </ul>
  </div>
</section>
