<section class="news-slider">
  <div class="container news-slider__container">
    <ul class="news-slider__list swiper-wrapper list-reset">
      <li class="news-slider__item swiper-slide">
        <a href="#" class="news-slider__item-link">
          <h2 class="news-slider__title">
            Запись на&nbsp;первую ступень обучения в&nbsp;онлайн школе
          </h2>
          <p class="news-slider__descr">
            Авторское ирландское и&nbsp;Арт-кружево от&nbsp;Аси Вертен.
            Занятия начинаются 1&nbsp;ноября
          </p>
        </a>
      </li>
      <li class="news-slider__item swiper-slide">
        <a href="#" class="news-slider__item-link">
          <h2 class="news-slider__title">
            Запись на&nbsp;первую ступень обучения в&nbsp;онлайн школе
          </h2>
          <p class="news-slider__descr">
            Авторское ирландское и&nbsp;Арт-кружево от&nbsp;Аси Вертен.
            Занятия начинаются 1&nbsp;ноября
          </p>
        </a>
      </li>
      <li class="news-slider__item swiper-slide">
        <a href="#" class="news-slider__item-link">
          <h2 class="news-slider__title">
            Запись на&nbsp;первую ступень обучения в&nbsp;онлайн школе
          </h2>
          <p class="news-slider__descr">
            Авторское ирландское и&nbsp;Арт-кружево от&nbsp;Аси Вертен.
            Занятия начинаются 1&nbsp;ноября
          </p>
        </a>
      </li>
    </ul>
    
    <div class="news-slider__pagination"></div>
  
    <button class="news-slider__button-prev news-slider__btn btn-reset">
      <svg>
        <use xlink:href="img/sprite.svg#chevron-left" />
      </svg>
    </button>
    <button class="news-slider__button-next news-slider__btn btn-reset">
      <svg>
        <use xlink:href="img/sprite.svg#chevron-right" />
      </svg>
    </button>
  
  </div>
</section>