<section class="hero">
  <div class="container hero__container">
    <ul class="hero__list list-reset">
      <li class="hero__item hero__item--books" style="background-image: linear-gradient(0deg, rgba(47, 42, 66, 0.5), rgba(47, 42, 66, 0.5)), url('img/books.gif');">
        <a href="#" class="hero__link">
          <h2 class="hero__item-title">Книги</h2>
        </a>
      </li>
      <li class="hero__item hero__item--mk" style="background-image: linear-gradient(0deg, rgba(47, 42, 66, 0.5), rgba(47, 42, 66, 0.5)), url('img/mk.jpg');">
        <div class="hero__item-wrapper">
          <h2 class="hero__item-title">Мастер-классы</h2>
          <div class="hero__item-descr-wrapper">
            <p class="hero__item-descr">На&nbsp;уникальные изделия от&nbsp;Аси Вертен</p>
            <a href="#" class="hero__link hero__link-btn">
              Перейти в раздел
            </a>
          </div>
        </div>
        <!-- <div class="hero__item-blur"></div> -->
      </li>
      <li class="hero__item hero__item--models hero__item--active" style="background-image: linear-gradient(0deg, rgba(47, 42, 66, 0.5), rgba(47, 42, 66, 0.5)), url('img/models.jpg');">
        <div class="hero__item-wrapper">
          <h2 class="hero__item-title">Модели</h2>
          <div class="hero__item-descr-wrapper">
            <p class="hero__item-descr">На&nbsp;уникальные изделия от&nbsp;Аси Вертен</p>
            <a href="#" class="hero__link hero__link-btn">
              Перейти в раздел
            </a>
          </div>
        </div>
        <!-- <div class="hero__item-blur"></div> -->
      </li>
      <li class="hero__item hero__item--school" style="background-image: linear-gradient(0deg, rgba(47, 42, 66, 0.5), rgba(47, 42, 66, 0.5)), url('img/school.jpg');">
        <div class="hero__item-wrapper">
          <h2 class="hero__item-title">Школа</h2>
          <div class="hero__item-descr-wrapper">
            <p class="hero__item-descr">На&nbsp;уникальные изделия от&nbsp;Аси Вертен</p>
            <a href="#" class="hero__link hero__link-btn">
              Перейти в раздел
            </a>
          </div>
        </div>
        <!-- <div class="hero__item-blur"></div> -->
      </li>
    </ul>
  </div>
</section>
