<section class="section-art">
  <div class="container section-art__container">
    <div class="section-art__imgs">
      <img class="section-art__img section-art__img_first" src="img/art-circle1.jpg" alt="Картинка">
      <img class="section-art__img section-art__img_second" src="img/art-circle2.jpg" alt="Картинка">
    </div>
    <div class="section-art__text-wrapper">
      <h2 class="section-title section-art__title">Арт- кружево</h2>
      <p class="section-art__text section-text">
        имеет, конечно, отдаленное сходство с&nbsp;сегодняшним рукоделием: в&nbsp;былые времена оно было обязательно белым, имело классически-ирландский орнамент и&nbsp;вязалось тончайшими нитками.
      </p>
    </div>
    <div class="section-art__text-wrapper">
      <h2 class="section-art__subtitle">Откуда берет начало современное Арт- кружево?</h2>
      <p class="section-art__text section-text">
        Прежде всего, вяжутся мотивы, потом на&nbsp;выкройку будущего изделия они выкладываются в&nbsp;соответствии с&nbsp;заданной автором идеей и&nbsp;соединяются нерегулярной сеткой, ввязываемой между мотивами.
      </p>
    </div>

  </div>
</section>
