<section class="best-deals">
  <div class="container best-deals__container">
    <h2 class="best-deals__title">
      Лучшие предложения
    </h2>
    <div class="best-deals__tabs tabs">
      <ul class="tabs__list list-reset">
        <li class="tabs__item">
          <button class="tabs__btn tabs__btn_active btn-reset">Модели</button>
        </li>
        <li class="tabs__item">
          <button class="tabs__btn btn-reset">Мастер-классы</button>
        </li>
        <li class="tabs__item">
          <button class="tabs__btn btn-reset">Книги</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="best-deals__slider">
    <ul class="list-reset best-deals__list best-deals__list--models swiper-wrapper">
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model1.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model2.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model3.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model1.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model2.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model1.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model2.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model1.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model2.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model3.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model1.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model2.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model1.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
      <li class="best-deals__item swiper-slide">
        <a href="#" class="best-deals__item-wrapper">
          <img src="img/best-deals/models/model2.jpg" alt="Название модели">
        </a>
        <h3 class="best-deals__item-title">Пончо «Зимний сад»</h3>

      </li>
    </ul>
  </div>
</section>
