<section class="section-mc">
  <div class="container section-mc__container">
    <div class="left-col">
      <h2 class="section-title section-mc__title">Мастер-классы от Аси Вертен</h2>
      <div class="section-mc__slider slider-mc">
        <ul class="slider-mc__list swiper-wrapper list-reset">
          <li class="slider-mc__item swiper-slide">
            <a href="#" class="slider-mc__item-link">
              <h2 class="slider-mc__title">
                Мастер-класс на&nbsp;мотив &laquo;Маргаритка&raquo; из&nbsp;жакета &laquo;Цветок Евы&raquo;
              </h2>
              <p class="slider-mc__descr">
                Мастер-класс из&nbsp;полного комплекта мастер-классов &laquo;Жакет Евы&raquo; состоит из&nbsp;схемы, пошаговых фото и&nbsp;подробного описания.
              </p>
            </a>
          </li>
        </ul>
      </div>
      <div class="slider-mc__btns">
        <button class="slider-mc__button-prev slider-mc__btn btn-reset" aria-label="предыдщий слайд" type="button">
          <svg>
            <use xlink:href="img/sprite.svg#chevron-left" />
          </svg>
        </button>
        <button class="slider-mc__button-next slider-mc__btn btn-reset" aria-label="следующий слайд" type="button">
          <svg>
            <use xlink:href="img/sprite.svg#chevron-right" />
          </svg>
        </button>
      </div>
      <a href="#" class="section-mc__more">Все мастер классы</a>
    </div>
    <div class="right-col">
      <img class="section-mc__img" src="img/section-mc-img.png" alt="Мастер-классы модели">
    </div>
  </div>
</section>
