<section class="section-about">
  <div class="container section-about__container">
    <div class="left-col">
      <h2 class="section-title section-about__title">Уникальность изделий от Аси Вертен</h2>
      <p class="section-text">состоит в&nbsp;том, что она достигла полной гармонии между рисунком кружевного полотна и&nbsp;его расположениемс&nbsp;индивидуальными особенностями каждой женской фигуры</p>
      <p class="section-text">В&nbsp;отличие от&nbsp;многих мастеров, она использует очень тонкие нитки&nbsp;&mdash; от&nbsp;800 метров на&nbsp;100&nbsp;г и&nbsp;тоньше. Поэтому изделия получаются женственными, легкими и&nbsp;грациозными.</p>
      <p class="section-text">Поэтому изделия получаются женственными, легкими и&nbsp;грациозными.</p>
    </div>
    <div class="right-col">
      <img src="img/about-img.jpg" alt="">
    </div>
  </div>
</section>
