<section class="section-faq">
  <div class="container">
    <h2 class="section-title section-faq__title">Вопросы и ответы</h2>

    <ul class="section-faq__list list-reset">
      <li class="section-faq__item faq-item">
        <h3 class="faq-item__title">
          <a href="#" class="faq-item__title-link">Заказ</a>
        </h3>
        <ul class="faq-item__list list-reset">
          <li class="faq-item__item">
            <a href="#" class="faq-item__link">Как сделать заказ?</a>
          </li>
          <li class="faq-item__item">
            <a href="#" class="faq-item__link">Как зарегистрироваться на сайте?</a>
          </li>
          <li class="faq-item__item">
            <a href="#" class="faq-item__link">В какие страны можно заказать?</a>
          </li>
        </ul>
      </li>
      <li class="section-faq__item faq-item">
        <h3 class="faq-item__title">
          <a href="#" class="faq-item__title-link">Оплата</a>
        </h3>
        <ul class="faq-item__list list-reset">
          <li class="faq-item__item">
            <a href="#" class="faq-item__link">Как оплатить заказ?</a>
          </li>
          <li class="faq-item__item">
            <a href="#" class="faq-item__link">Что делать, если оплата не прошла?</a>
          </li>
          <li class="faq-item__item">
            <a href="#" class="faq-item__link">С каких карт можно оплатить заказ?</a>
          </li>
        </ul>
      </li>
      <li class="section-faq__item faq-item">
        <h3 class="faq-item__title">
          <a href="#" class="faq-item__title-link">Школа</a>
        </h3>
        <ul class="faq-item__list list-reset">
          <li class="faq-item__item">
            <a href="#" class="faq-item__link">Что такое школа?</a>
          </li>
          <li class="faq-item__item">
            <a href="#" class="faq-item__link">Как записаться в школу?</a>
          </li>
          <li class="faq-item__item">
            <a href="#" class="faq-item__link">Школа идёт онлайн или оффлайн? </a>
          </li>
        </ul>
      </li>
      <li class="section-faq__item faq-item">
        <h3 class="faq-item__title">
          <a href="#" class="faq-item__title-link">Нитки</a>
        </h3>
        <ul class="faq-item__list list-reset">
          <li class="faq-item__item">
            <a href="#" class="faq-item__link">Какие выбрать нитки?</a>
          </li>
          <li class="faq-item__item">
            <a href="#" class="faq-item__link">Где купить нитки?</a>
          </li>
          <li class="faq-item__item">
            <a href="#" class="faq-item__link">Можно ли купить нитки на этом сайте?</a>
          </li>
        </ul>
      </li>
      <li class="section-faq__item faq-item">
        <a href="#" class="faq-item__more">Перейти в раздел</a>
      </li>
    </ul>
  </div>
</section>
