// colors
:root {
  --color-bastille: #1b1923;
  --color-light: #fff;
  --color-steel-gray: #2f2a42;
  --color-storm: #787a80;
  --color-ebony: #1e212c;
  --color-primary: #ff5a30;
  --color-martinique: #3a334b;
  --color-smoky: #5d5374;
  --grid-gap: 30px;
}

